.display{
    display: flex;
    background-color: white;
    background-position: center;
    background-image: url();



}
button{
    color: blue;
    
}
.image{
    background-image: url();
    background-position: center;
    width: 20%;
    height: 20%;
    padding-left: 30%;

}



.page{
display: flex;}
.icons{

}
.back{
    
    display: flex;
    width: 34%;
    padding-left: 90%;
    

}
.button{
    color: blue;
}
.product{
    display: flex;
    padding-left: 90%;

}
.all{
    
    padding-bottom: 10%;
}
   .New{
    display: flex;
    padding-left: 90%;
   } 
   .shop{
    display: flex;
    padding-right: 34%;
   }
   .View{
    display: flex;
   }
   .off{
    background-color: palevioletred;
    padding: 5%;
    border: solid 1px;
    border-radius: 20px;
    display: flex;
    
   }
   .pink{
    display: flex;
    padding-left: 50%;
    width:23% ;
   }
   .free{
    display: flex;
   }
   .sub{
    display: flex;
    padding-left:90% ;
   }
   .container{
    display: flex;
    padding-left:40% ;
    justify-content: space-between;
   }
   .baba{
    display: flex;
    padding-right: 23%;
   }
   .policy{
    display: flex;
    padding-left:80% ;
    justify-content: space-between;
   }
   .online{

    justify-content: space-between;
}
.container2{
    display: flex;
} .free{
    display: flex;
}
.sucess{
    display: flex;
    

}
.come{
    display: flex;
}
.home{
    display: flex;
    justify-content: space-around;

    padding-left: 40%;
}



   

   
    
   
